<a href="https://colab.research.google.com/github/komalk98/cars/blob/main/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
cars = pd.read_csv('/content/sample_data/2. Cars Data1.csv')

In [ ]:
cars.head(5)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [ ]:
cars.shape

(432, 15)

In [ ]:
cars.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [ ]:
cars['EngineSize'].fillna(cars['EngineSize'].mean(), inplace=True)

In [ ]:
cars.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [ ]:
cars['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [ ]:
# cars[(cars['Origin'] ==  'Asia') | (cars['Origin'] == 'Europe')]
cars[cars['Origin'].isin(['Europe','Asia'])]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[281 rows x 15 columns]

In [ ]:
cars[~(cars['Weight'] > 4000)]

      Make                    Model   Type  ...  Weight Wheelbase Length
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[329 rows x 15 columns]

In [ ]:
cars.shape

(432, 15)

In [ ]:
cars.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [ ]:
cars['MPG_City'] = cars['MPG_City'].apply(lambda x:x+2)

In [ ]:
cars.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]